asn1crypto==0.24.0
beautifulsoup4==4.6.3
bs4==0.0.1
cachetools==3.0.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
credentials==1.1
cryptography==2.3.1
cymem==2.0.2
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
en-core-web-lg==2.0.0
fake-useragent==0.1.11
Flask==1.0.2
ftfy==4.4.3
future==0.17.1
google==2.0.1
google-api-python-client==1.7.4
google-auth==1.6.0
google-auth-httplib2==0.0.3
Google-Search-API==1.1.14
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
ijson==2.3
image-search==0.0.1
itsdangerous==1.1.0
Jinja2==2.10
kwconfig==1.1.7
lxml==4.2.5
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.4.2
murmurhash==1.0.1
networkx==2.2
numpy==1.15.4
pandas==0.23.4
pathlib==1.0.1
plac==0.9.6
preshed==2.0.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
pyemd==0.5.1
pyOpenSSL==18.0.0
Pyphen==0.9.5
python-dateutil==2.7.5
python-Levenshtein==0.12.0
pytrends==4.4.0
pytz==2018.7
PyYAML==3.13
regex==2018.1.10
requests==2.20.0
retinasdk==1.0.0
rsa==4.0
scikit-learn==0.20.0
scipy==1.1.0
search-google==1.2.1
selenium==2.53.6
simplejson==3.16.0
six==1.11.0
spacy==2.0.16
textacy==0.6.2
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
Unidecode==1.0.22
uritemplate==3.0.0
urllib3==1.24.1
vcrpy==2.0.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wordninja==0.1.5
wrapt==1.10.11
yarl==1.2.6
